body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0px;
}

#board{
    display: grid;
    grid-template-columns: repeat(8, 0px);
    gap: 0px 60px;
    width: 480px;
    height: 480px;

    border: 2px dashed rgb(0, 0, 0);
    border-radius: 4px;

    box-shadow: 2px 1px 10px;
}

.black{
    color: oldlace;
    background-color: olive;
}

img{
    width: 55px;
    height: 55px;
}

.white{

    background-color: oldlace;
}